body{
background-color: blue;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 20%;
    height: 70%;
}
h1{
    position: absolute;
    top: 10%;
    font-size: 290%;
    color: pink;
}
.first{
    position: absolute;
    top: 40%;
    width: 50%;
    height: 7%;
   

}
.second{
    position: absolute;
    top: 53%;
    width: 50%;
    height: 7%;
}
button{
    position: absolute;
    top: 70%;
    width: 20%;
    height: 30px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    right:  30%;
    font-size: 20px;
    font-family: serif;
  
}
.new{
    position: absolute;
    left: 29%;
    font-size: 20px;
    font-family: serif;
}